<!DOCTYPE html>
<html>
  <head>
    <title>DonX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


 <!-- yield points to the url that we request...if we request localhost:3000/registration/signup then the request maps to the registration controller with signup action then ultimately the signup view template will load in place of hence this acts as a placeholder -->